@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
.App {
  width: 100vw;
  height: 100vh;
}

html{
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  transition: .22s;
  /* border: 1px solid red; */

}

.home{
  height: 100%;
  display: flex;
  width: 100%;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.top_bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.top_bar h3{
  font-weight: 700;
}

.right{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.right-top{
  height: auto;
  padding: 0rem 1rem;
  
  color: #06266b ;
  
}
.right-bottom{
  height: fit-content;
  padding: 1rem;
  overflow: auto;

  
}

a{
  text-decoration: none;
}

.btn{
  font-size: 1rem;
  display: flex;
  text-decoration: none;
  gap: .5rem;
  color: #657e98;
  background-color: #EBF4FF;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
}

.btn:hover{
  color: #06266b ;
  background-color: #EBF4FF;
  
}

.sidebar{
  width: 250px;
  height: 100%;
  background-color: #91a9dea8;
  margin: 0;
  padding: 0;
  color: #06266b ;
  padding-top: 10px;
}

.sidebar_container{
  display: flex;
  flex-direction: column;
  
  height: 95%;
  justify-content: space-between;
}

.sidebar_bottom{
  display: flex;
  justify-content: center;
  align-items: center;

}

.sidebar_bottom img{
  width: 150px;
}

.profile{
  padding: 10px;
  margin: 10px 25px 20px 25px;
  border-radius: 20px;
  background-color: #ebf4ffd2;
  color: #06266b ;
  font-weight: 700;
}

.account_icon{
  display: flex;
  padding: 2rem 1rem;
  align-items: center;
  justify-content: center;
}

.accountIcon{
  transform: scale(2.5);
  color: #06266b  ;
}
.welcome{
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #06266b  ;
}
.account_type{
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #06266b  ;
}

.navigation{
  background-color: #048cfc;
  display: flex;
  padding: 1rem;
  color: whitesmoke;
  align-items: center;
}

.navigation h4{
  font-weight: 700;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

.side_nav{
  list-style: none;
  padding: 15px;
  
  display: flex;
  gap:2rem;
  color: inherit;
  align-items: center;
  
  
}

.side_nav:nth-child(4){
  color: rgb(212, 5, 5) !important;
}

.sidebar .active{
  background-color: white;
  color: #160c38 ;
  font-weight: 700;
  border-left: 4px solid #160c38;
  
}

.side_nav:hover{
  cursor: pointer;
  background-color: #657e98 ;
}

.subscription_plan{
  background-color: #06266b;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 1rem;
  width: 15rem;
  border-radius: 15px;
  color: #EBF4FF;
  
}

.successful_smss{
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: .3rem;
  width: 15rem;
  border-radius: 15px;
  color: #EBF4FF;
}

.success{
  background-color: #67ea1b4f;
  color: #67ea1b;
  border: 1px solid #67ea1b;
  
}

.pending{
  background-color: #eaba1b56;
  color: #eabb1b;
  border: 1px solid #eabb1b;
}

.error{
  background-color: #ff20025e;
  color: #ff2002;
  border: 1px solid #ff2002;
}

.successful_smss h6{
  font-size: 1rem;
  font-weight: 700;
}

.successful_smss h4{
  font-size: 1rem;
  font-weight: 700;
}

.subscription_plan h6{
  font-size: 1rem;
  font-weight: 100;
}

.subscription_plan h4{
  font-size: 1.3rem;
  font-weight: 700;
}

.billing_details{
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  gap: 2rem;
}

.sms_cards{
  padding-top: 1rem;
  display: flex;
  gap: 2rem;
}

.change_plan{
  background-color: #EBF4FF;
  width: 6rem;
  color: #160c38;
  padding: 7px;
  border-radius: 5px;
}

.change_plan:hover{
  cursor: pointer;
  color: #048cfc;
}

.next_payment{
  background-color: #EBF4FF;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 1rem;
  width: 15rem;
  border-radius: 15px;
  color: #06266b;
  border: 1px solid #160c38;
}

.next_payment h6{
  font-size: 1rem;
  font-weight: 100;
}

.next_payment h4{
  font-size: 1.3rem;
  font-weight: 700;
}

.next_payment_top{
  display: flex;
  justify-content: space-between;
}

.sms_card{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.successful_smss h4{
  font-size: 1.2rem;
}

.credit_card{
  background-color: #f2d569  ;
  aspect-ratio: 1 / 1;
  display: flex;
  padding: 5px;
  border-radius: 50%;
  color: #eabb1b;
}

.sms_history{
  padding: 1rem 0rem 0rem 0rem;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  padding: 0;
  margin: 0;
}

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

.heading_of_table th {
  
  text-align: left;
  background-color: #ebf4ffd2;
  color: #160c38;
  margin-bottom: 1rem;
}

td {
  
  text-align: left;
  color: #160c38;
  margin-bottom: 1rem;
}

.tr{
  height: 5px !important;
  padding: 0;
  margin: 0;
  
}

tr {
  height: 10px;
}

tr td {
   height: auto !important;
}

.Pending{
  background-color: #eaba1b56;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  color: #eabb1b;
  font-weight: 700;
}

.Error{
  background-color: #ff20025e;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  color: #ff2002;
  font-weight: 700;
}
.Successful{
  background-color: #67ea1b4f;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  color: #67ea1b;
  font-weight: 700;
}

.graphs{
  display: flex;
  height: 100%;
  align-items: center;
  
}

.monthly{
  flex: 1;
}

.daily{
 flex: 1;
}

.t-cell{
  width: 10px;
}

.sms-history-table{
  margin-top: 1rem;
}

.error_sms_head{
  display: flex;
  gap: 2rem;
}

.btn{
  padding: .2rem;
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  color: #4bad12 !important;
  background-color: #67ea1b50;
  border: 1.5px solid #4bad12;
}

.btn:hover{
  cursor: pointer;
  transform: scale(1.1);
}


.file_upload{
  display: flex;
  width: auto;
  height:100%;
  margin-top: 2rem;
}

.uploaded_files button{
  padding: 0.4rem;
  margin-top: .3rem;
  
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  color: #160c38!important;
  background-color: #160c385b;
  border: 1.5px solid #160c38;
}

.uploaded_files button:hover{
  cursor: pointer;
  transform: scale(1.1);
}


.support{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.support-top{
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 540px;
  margin-top: 1rem;
  gap: 1rem;
}


.form-group label{
  font-weight: 400;
  padding-left: .2rem;
  font-size: .8rem;
}

.form-group .support_input{
  padding: .7rem;
  background-color: #dadfe9a8;
  border-radius: 15px;
  border: none;
}

.form-group input:hover{
  transform: scale(1.1);
}

textarea{
  padding: .5rem;
  background-color: #dadfe9a8;
  border-radius: 15px;
  border: none;
}

textarea:hover{
  transform: scale(1.1);
}

form button{
  margin-top: 1rem;
  background-color: #91a9de;
  color: #06266b;
  padding: .7rem;
  border: none;
  border-radius: 15px;
}

form button:hover{
  cursor: pointer;
  /* transform: scale(1.2); */
}

.about-us{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.about-us p{
  font-size: 14px;
}

.about-text{
  font-size: 14px;
}

.login-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page img{
  width: 15rem;
}

.login-bottom .login-btn{
  margin-top: .5rem;
  font-size: 1rem;
  display: flex;
  text-decoration: none;
  gap: .5rem;
  color: #657e98;
  background-color: #EBF4FF;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
}

.loginCreds{
  background-color: #dadfe9a8;
  border: none;
  padding-left: .5rem;
  height: 2.5rem;
  border-radius: 0px 5px 5px 0px;
}

.login-form-group{
  display: flex;
  background-color: #dadfe9a8;
  border: none;
  gap: .5rem;
  margin-top: .5rem;
  align-items: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-group label{
  padding-left: .5rem;
}